@mixin order {
  width: 480px;
  height: 530px;
  background-color: $light-grey;
  padding: 1rem 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem 0.05rem $grey;

  &__title {
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__buttons {
    padding-bottom: 0.7rem;
  }

  &__button {
    font-size: 0.8rem;
    position: relative;
    cursor: pointer;
    transition: $transition;

    &::before {
      content: url("../assets/icons/checkbox.svg");
      position: relative;
      margin: 0;
      padding-right: 0.25rem;
      top: 0.25rem;
    }

    &.checked::before {
      content: url("../assets/icons/checkbox-checked.svg");
    }

    &:hover {
      font-weight: 800;
      transform: scale(0.97);
    }

    &.checked {
      font-weight: 800;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;

      &__dest {
      display: grid;
      grid-template-columns: 1fr 0.5fr 1fr;
      padding-left: 0.6rem;
      justify-content: space-between;
      align-items: center;
      font-size: 0.9rem;
    }


    & select {
      font-size: 0.8rem;
      width: 100%;
      border-radius: 0.1rem;
      border: 1px solid $light-grey;

      padding: 0.4rem 0.4rem;
      color: $dark-blue;

    }

    & input {
      font-size: 0.8rem;
      width: 100%;
      border-radius: 0.1rem;
      border: 1px solid $light-grey;
      padding: 0.4rem 0.6rem;
      color: $dark-blue;
    }

    & textarea {
      font-size: 0.8rem;
      width: 100%;
      border-radius: 0.1rem;
      border: 1px solid $light-grey;
      padding: 0.4rem 0.6rem;
      color: $dark-blue;
      resize: none;
    }

    *::placeholder {
      color: $dark-blue;
    }

    .submit-btn {
      font-size: 1.1rem;
      font-weight: 600;
      border-radius: 0.2rem;
      color: $dark-blue;
      background-color: $light-blue-btn;
      border: none;
      padding: 0.4rem 0.6rem;
      transition: $transition;

      &:hover,
      &:active {
        background-color: $light-blue;
        transform: scale(0.98);
      }
    }

  .date {
    box-shadow: none;
  }

}
}