@charset "UTF-8";
@font-face {
  font-family: "BT";
  src: url("../assets/fonts/BellotaText-Regular.ttf");
  src: url("../assets/fonts/BellotaText-Regular.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Regular.woff2") format("woff2"), url("../assets/fonts/BellotaText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BT-Bold";
  src: url("../assets/fonts/BellotaText-Bold.ttf");
  src: url("../assets/fonts/BellotaText-Bold.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Bold.woff2") format("woff2"), url("../assets/fonts/BellotaText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Prata";
  src: url("../assets/fonts/Prata-Regular.ttf");
  src: url("../assets/fonts/Prata-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Prata-Regular.woff2") format("woff2"), url("../assets/fonts/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.top {
  background-image: url("../assets/image/top-bg.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 7fr 3fr;
  font-weight: 700;
}
.header ul {
  list-style: none;
}
.header__nav-container {
  display: flex;
  gap: 1rem;
}
.header__contacts-container {
  display: flex;
  gap: 0.5rem;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3rem;
}
.top-container__title {
  font-size: 2rem;
  font-family: "Prata", serif;
  line-height: 1.5;
  max-width: 40%;
}
.top-container__order-box {
  min-width: 40%;
  height: 600px;
  background-color: #F7F9FB;
}

.services__head-title {
  margin-bottom: 50px;
}

.services__carousel-item {
  width: 100%;
  height: 380px;
  background-color: rgb(34, 34, 34);
  color: #F7F9FB;
  position: relative;
  text-align: center;
}

.services__container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
}

.services__overlay-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

/* Контейнер для кнопки, чтобы не прыгал контент, когда она сменит позиционирование */
.css-modal-details {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Кнопка для открытия */
.css-modal-details summary {
  display: inline-flex;
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 1rem;
  line-height: 20px;
  padding: 12px 30px;
  color: #F7F9FB;
  font-weight: 500;
  text-transform: uppercase;
  background: #31708E;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
}

.css-modal-details summary:hover,
.css-modal-details summary:active,
.css-modal-details summary:focus {
  color: #F7F9FB;
}

.css-modal-details summary:before {
  content: "";
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  left: 0;
  border-right: 50px solid transparent;
  border-top: 50px solid #5085A5;
  transition: transform 0.5s;
  transform: translateX(-100%);
  z-index: -1;
}

.css-modal-details summary:hover:before,
.css-modal-details summary:active:before,
.css-modal-details summary:focus:before {
  transform: translateX(0);
}

/* Кнопка при открытом окне переходит на весь экран */
.css-modal-details details[open] summary {
  cursor: default;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

/* Контейнер, который затемняет страницу */
.css-modal-details details .cmc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-modal-details details[open] .cmc {
  pointer-events: none;
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: bg 0.5s ease;
  background: #F7F9FB;
}

/* Модальное окно */
.css-modal-details details .cmt {
  font-size: 1rem;
  padding: 75px;
  width: 80%;
  max-width: 600px;
  max-height: 70%;
  transition: 0.5s;
  border: 6px solid #31708E;
  border-radius: 12px;
  background: #31708E;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  text-align: start;
  overflow: auto;
}

.css-modal-details details[open] .cmt {
  animation: scale 0.5s ease;
  z-index: 4;
  pointer-events: auto;
}

/* Декоративная кнопка с крестиком */
.css-modal-details details[open] .cmc:after {
  content: "";
  width: 50px;
  height: 50px;
  border: 6px solid #31708E;
  border-radius: 12px;
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23337AB7' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cline x1='18' y1='6' x2='6' y2='18'%3e%3c/line%3e%3cline x1='6' y1='6' x2='18' y2='18'%3e%3c/line%3e%3c/svg%3e");
  background-color: #F7F9FB;
  background-size: cover;
  animation: move 0.5s ease;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    right: -80px;
  }
  100% {
    right: 20px;
  }
}
@keyframes bg {
  0% {
    background: rgba(51, 122, 183, 0);
  }
  100% {
    background: rgba(51, 122, 183, 0.7);
  }
}
.FAQ__title {
  margin-bottom: 50px;
}

.accordion-button:hover {
  background-color: #8FC1E3;
}

.accordion-button:focus {
  background-color: #8FC1E3;
  box-shadow: none;
}

.accordion-button:active {
  background-color: #8FC1E3;
  border: none;
}

.accordion-collapse {
  font-size: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "BT", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: #1d4152;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */