@font-face {
  font-family: "BT";
  src: url("../assets/fonts/BellotaText-Regular.ttf");
  src: url("../assets/fonts/BellotaText-Regular.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Regular.woff2") format("woff2"), url("../assets/fonts/BellotaText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BT-Bold";
  src: url("../assets/fonts/BellotaText-Bold.ttf");
  src: url("../assets/fonts/BellotaText-Bold.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Bold.woff2") format("woff2"), url("../assets/fonts/BellotaText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Prata";
  src: url("../assets/fonts/Prata-Regular.ttf");
  src: url("../assets/fonts/Prata-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Prata-Regular.woff2") format("woff2"), url("../assets/fonts/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.top {
  background-image: url("../../assets/image/top-bg.jpg");
  background-repeat: no-repeat;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 7fr 3fr;
  font-weight: 700;
}
.header ul {
  list-style: none;
}
.header__nav-container {
  display: flex;
  gap: 1rem;
}
.header__contacts-container {
  display: flex;
  gap: 0.5rem;
}

.top-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 3rem;
}
.top-container__title {
  font-size: 2rem;
  font-family: "Prata", serif;
  line-height: 1.5;
  max-width: 40%;
}
.top-container__order-box {
  min-width: 40%;
  height: 600px;
  background-color: #F7F9FB;
}

.about {
  display: grid;
  grid-template-columns: 1fr 60%;
}

.about__description {
  display: grid;
  grid-column: 1;
  width: 100%;
}
.about__description p {
  padding-top: 25px;
  font-size: 1rem;
  line-height: 1.8;
}

.about__button {
  display: grid;
  grid-column: 1;
  margin-top: 30px;
  width: 120px;
  height: 45px;
}
.about__button button {
  width: 100%;
  min-height: 50%;
  background-color: #5085A5;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
}
.about__button a {
  font-size: 1rem;
  color: #F7F9FB;
}

.about__image {
  display: grid;
  grid-column: 2;
  width: 100%;
  margin-top: -200px;
  margin-left: 100px;
}
.about__image img {
  display: flex;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
  }
  .about__image {
    display: none;
  }
}
.about__2-delimiter {
  display: flex;
  margin-left: 30px;
}
.about__2-delimiter-left {
  font-size: 0.875rem;
  color: #31708E;
  padding: 10px 10px;
}
.about__2-delimiter-right {
  font-size: 0.875rem;
  color: #8FC1E3;
  padding: 10px 10px;
}
.about__2-delimiter img {
  width: 20px;
  margin-top: -1px;
}

.about__2_main-text {
  display: flex;
  margin-top: 80px;
  margin-left: 30px;
}

.about__2_description {
  margin-left: 30px;
  width: 90%;
}
.about__2_description p {
  font-size: 1.2rem;
  padding-top: 50px;
  line-height: 1.8;
}
.about__2_description p:last-child {
  font-style: italic;
  font-weight: 900;
}

.about__2-image {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  margin-top: 50px;
  margin-left: 30px;
}
.about__2-image img {
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "BT", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: #1d4152;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
}