@charset "UTF-8";
@font-face {
  font-family: "BT";
  src: url("../assets/fonts/BellotaText-Regular.ttf");
  src: url("../assets/fonts/BellotaText-Regular.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Regular.woff2") format("woff2"), url("../assets/fonts/BellotaText-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BT-Bold";
  src: url("../assets/fonts/BellotaText-Bold.ttf");
  src: url("../assets/fonts/BellotaText-Bold.eot") format("embedded-opentype"), url("../assets/fonts/BellotaText-Bold.woff2") format("woff2"), url("../assets/fonts/BellotaText-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Prata";
  src: url("../assets/fonts/Prata-Regular.ttf");
  src: url("../assets/fonts/Prata-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Prata-Regular.woff2") format("woff2"), url("../assets/fonts/Prata-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SS";
  src: url("/assets/fonts/sourcesansprolight.ttf");
  src: url("/assets/fonts/sourcesansprolight.woff") format("woff"), url("/assets/fonts/sourcesansprolight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.wrapper {
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
  font-size: 20px;
}

body {
  font-family: "SS", sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
  font-weight: 400;
  color: #1d4152;
  min-width: 320px;
  max-width: 1500px;
  margin: 0 auto;
}

.top {
  position: relative;
}
.top .header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 7fr 3fr;
  grid-template-areas: "logo nav contacts";
}
@media screen and (max-width: 1400px) {
  .top .header {
    padding-top: 1.4rem;
    padding-bottom: 0.4rem;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "logo nav" "logo contacts";
  }
}
.top .header .logo {
  grid-area: logo;
}
@media screen and (max-width: 1025px) {
  .top .header .logo img {
    width: 10rem;
    height: auto;
  }
}
.top .header__burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .top .header__burger {
    display: block;
  }
}
.top .header a {
  color: #F7F9FB;
}
.top .header__nav {
  grid-area: nav;
}
@media screen and (max-width: 800px) {
  .top .header__nav {
    display: none;
  }
}
.top .header__nav-container {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (max-width: 1400px) {
  .top .header__nav-container {
    justify-content: flex-end;
    padding-bottom: 0.2rem;
  }
}
@media screen and (max-width: 1025px) {
  .top .header__nav-container {
    gap: 0.8rem;
    font-size: 0.8rem;
    padding-bottom: 0rem;
  }
}
.top .header__contacts {
  grid-area: contacts;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1400px) {
  .top .header__contacts {
    justify-content: flex-end;
    padding-top: 0.2rem;
    gap: 5rem;
  }
}
@media screen and (max-width: 1025px) {
  .top .header__contacts {
    gap: 2rem;
  }
}
@media screen and (max-width: 1400px) {
  .top .header__contacts-item {
    width: 1.6rem;
    height: auto;
  }
}
.top .header__contacts-tels {
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (max-width: 1400px) {
  .top .header__contacts-tels {
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
  }
}
.top-order {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}
.top-order__title {
  font-size: 2.2rem;
  font-weight: 900;
  max-width: 50%;
  padding-right: 1rem;
  color: #F7F9FB;
}
@media screen and (max-width: 1025px) {
  .top-order__title {
    font-size: 1.8rem;
  }
}
.top-order .order {
  max-width: 550px;
  max-height: 530px;
  background-color: #F7F9FB;
  padding: 0.8rem 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem 0.05rem #777777;
}
.top-order .order__title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 1025px) {
  .top-order .order__title {
    font-size: 1rem;
    padding-bottom: 0.1rem;
  }
}
.top-order .order__button {
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.8s ease;
}
@media screen and (max-width: 1025px) {
  .top-order .order__button {
    font-size: 0.7rem;
  }
}
.top-order .order__button::before {
  content: url("../assets/icons/checkbox18.svg");
  position: relative;
  margin: 0;
  padding-right: 0.25rem;
  top: 0.2rem;
}
.top-order .order__button.checked::before {
  content: url("../assets/icons/checkbox-checked18.svg");
}
.top-order .order__button:hover {
  font-weight: 800;
}
.top-order .order__button.checked {
  font-weight: 800;
}
.top-order .order .form {
  padding-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}
.top-order .order .form_euro-passengers {
  padding-top: 0.55rem;
}
.top-order .order .form_cargo {
  gap: 0.3rem;
}
.top-order .order .form__dest {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
}
.top-order .order .form__dest .departure {
  position: relative;
}
.top-order .order .form__dest .departure::before {
  content: "Пункт отправления";
  position: absolute;
  top: -0.75rem;
  font-size: 0.55rem;
}
.top-order .order .form__dest .arrival {
  position: relative;
}
.top-order .order .form__dest .arrival::before {
  content: "Пункт прибытия";
  position: absolute;
  top: -0.75rem;
  font-size: 0.55rem;
}
.top-order .order .form__dest .reverse-btn {
  cursor: pointer;
  transition: all 0.8s ease;
}
.top-order .order .form__dest .reverse-btn:hover {
  transform: scale(1.3);
}
.top-order .order .form .input-line {
  display: flex;
  align-items: center;
}
.top-order .order .form label {
  font-size: 0.75rem;
  width: 35%;
}
@media screen and (max-width: 1025px) {
  .top-order .order .form label {
    font-size: 0.68rem;
  }
}
.top-order .order .form select {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.4rem;
  color: #1d4152;
}
@media screen and (max-width: 1025px) {
  .top-order .order .form select {
    font-size: 0.68rem;
  }
}
.top-order .order .form input {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.6rem;
  color: #1d4152;
}
@media screen and (max-width: 1025px) {
  .top-order .order .form input {
    font-size: 0.68rem;
  }
}
.top-order .order .form textarea {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.6rem;
  color: #1d4152;
  resize: none;
}
@media screen and (max-width: 1025px) {
  .top-order .order .form textarea {
    font-size: 0.68rem;
  }
}
.top-order .order .form *::placeholder {
  color: #1d4152;
}
.top-order .order .form .submit-btn {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.2rem;
  color: #1d4152;
  background-color: #b5d9f1;
  border: none;
  padding: 0.4rem 0.6rem;
  transition: all 0.8s ease;
}
@media screen and (max-width: 1025px) {
  .top-order .order .form .submit-btn {
    font-size: 0.95rem;
  }
}
.top-order .order .form .submit-btn:hover, .top-order .order .form .submit-btn:active {
  background-color: #8FC1E3;
  transform: scale(0.98);
}
.top-order .order .form .date {
  box-shadow: none;
}
.top-order .order .form .confidentiality,
.top-order .order .form .required-fields {
  font-size: 0.5rem;
  text-align: center;
}
.top .carousel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}
.top__carousel-item {
  width: 100%;
  height: 710px;
  background-color: #777777;
}
.top__carousel-item .top__overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: top;
  background-size: cover;
  opacity: 0.8;
}

.departures__container-title {
  width: 100%;
  height: 80px;
}
.departures__container-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 350px;
  width: 100%;
  column-gap: 20px;
  margin-bottom: 10%;
}
.departures__container-item-content {
  width: 100%;
  height: auto;
  border-radius: 4px;
  background-position: center;
  background-size: cover;
}
.departures__container-item-content h2 {
  margin-top: 50%;
  margin-left: 20px;
  font-size: 2rem;
  color: #F7F9FB;
  font-weight: bold;
}
.departures__container-item-content-d1 {
  margin-left: 20px;
  font-size: 0.8rem;
  color: #F7F9FB;
  font-weight: bold;
}
.departures__container-item-content-d2 {
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 0.6rem;
  color: #F7F9FB;
}
.departures__container-item-content-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(30, 30, 30)), url("/assets/image/berlin-1.jpg");
  background-size: cover;
  background-position: center;
}
.departures__container-item-content-2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(30, 30, 30)), url("/assets/image/kalin-dep.jpeg");
  background-size: cover;
  background-position: center;
}
.departures__container-item-content-3 {
  width: 100%;
  height: 200px;
  background: url("/assets/image/rome.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.departures__container-item-content-3 h2 {
  margin-top: -15px;
  color: #F7F9FB;
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 770px) {
  .departures__container-item-content h2 {
    font-size: 1.5rem;
  }
  .departures__container-item-content-d1 {
    font-size: 0.8rem;
  }
  .departures__container-item-content-d2 {
    font-size: 0.4rem;
  }
}
.services {
  width: 100%;
}
.services__title {
  width: 100%;
  height: 100px;
}
.services__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  width: 100%;
  height: 50%;
}
.services__main .services__container {
  width: 100%;
  height: auto;
}
.services__main .services__container-item-1 {
  width: 100%;
  height: auto;
}
.services__main .services__container-item-1 img {
  width: 100%;
  height: 270px;
  object-position: center;
  object-fit: cover;
  border-radius: 3px;
}
.services__main .services__container-item-1 p {
  position: relative;
  width: 94%;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
}
.services__main .services__container-item-1 a {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 10px;
  color: #31708E;
}
.services__main .services__container-item-1 details {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 3px;
  color: #31708E;
  cursor: pointer;
}
.services__main .services__container-item-1 details summary {
  list-style: none;
}
.services__main .services__container-item-1 details .services__container-item-1-description {
  width: 100%;
}
.services__main .services__container-item-1 details .services__container-item-1-description p {
  font-size: 1rem;
}
.services__main .services__container-item-1 details:hover {
  color: #F7F9FB;
  background-color: #31708E;
}
.services__main .services__container-item-2 {
  width: 100%;
  height: auto;
}
.services__main .services__container-item-2 img {
  width: 100%;
  height: 270px;
  object-position: 50% 80%;
  object-fit: cover;
  border-radius: 3px;
}
.services__main .services__container-item-2 p {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
}
.services__main .services__container-item-2 a {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 10px;
  color: #31708E;
}
.services__main .services__container-item-2 details {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 3px;
  color: #31708E;
  cursor: pointer;
}
.services__main .services__container-item-2 details summary {
  list-style: none;
}
.services__main .services__container-item-2 details .services__container-item-2-description {
  width: 100%;
}
.services__main .services__container-item-2 details .services__container-item-2-description p {
  font-size: 1rem;
}
.services__main .services__container-item-2 details:hover {
  color: #F7F9FB;
  background-color: #31708E;
}
.services__main .services__container-item-3 {
  width: 100%;
  height: auto;
}
.services__main .services__container-item-3 img {
  width: 100%;
  height: 270px;
  object-position: center;
  object-fit: cover;
  border-radius: 3px;
}
.services__main .services__container-item-3 p {
  position: relative;
  width: 90.5%;
  text-align: center;
  margin-top: 15px;
  font-size: 1.2rem;
}
.services__main .services__container-item-3 a {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 10px;
  color: #31708E;
}
.services__main .services__container-item-3 details {
  width: 100%;
  text-align: center;
  border: 3px solid #31708E;
  padding: 10px;
  border-radius: 3px;
  color: #31708E;
  cursor: pointer;
}
.services__main .services__container-item-3 details summary {
  list-style: none;
}
.services__main .services__container-item-3 details .services__container-item-3-description {
  width: 100%;
}
.services__main .services__container-item-3 details .services__container-item-3-description p {
  font-size: 1rem;
}
.services__main .services__container-item-3 details:hover {
  color: #F7F9FB;
  background-color: #31708E;
}

@media screen and (max-width: 770px) {
  .services__main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.advantages__container-title {
  width: 100%;
  height: 80px;
  text-align: center;
  border-bottom: #F7F9FB solid 0.09rem;
}
.advantages__container-item {
  display: grid;
  grid-template-columns: 50px 1fr 50px 1fr;
  height: 350px;
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-bottom: 10%;
}
.advantages__container-number {
  color: #31708E;
  font-size: 50px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.7px;
}
.advantages__container-text {
  align-self: center;
}

.comments__border {
  width: 10rem;
  height: 0.25rem;
  background: rgb(247, 210, 5);
  margin: 1rem auto;
}
.comments__container {
  overflow: hidden;
  background-color: rgb(248, 247, 247);
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-flow: column;
}
.comments__item {
  margin: 1rem 0.875rem;
  background-color: white;
  border-radius: 5%;
}
.comments__img {
  margin: 0.875rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.comments__text {
  font-size: 0.875rem;
  height: 4.5rem;
  padding: 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.comments__name {
  font-size: 0.875rem;
  margin-bottom: 0.25rem;
}

.accordion {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.FAQ__title {
  margin-bottom: 50px;
}

.accordion-button:hover {
  background-color: #8FC1E3;
}

.accordion-button:focus {
  background-color: #8FC1E3;
  box-shadow: none;
}

.accordion-button:active {
  background-color: #8FC1E3;
  border: none;
}

.accordion-item h5 {
  font-size: 0.8rem;
}

.accordion-collapse {
  font-size: 0.8rem;
}

@media screen and (max-width: 1025px) {
  .accordion {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .accordion {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.trip-order {
  display: flex;
  justify-content: space-between;
}
.trip-order__container {
  max-width: 50%;
}
.trip-order .order {
  max-width: 550px;
  max-height: 530px;
  background-color: #F7F9FB;
  padding: 0.8rem 1.2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.2rem 0.05rem #777777;
}
.trip-order .order__title {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.3rem;
}
@media screen and (max-width: 1025px) {
  .trip-order .order__title {
    font-size: 1rem;
    padding-bottom: 0.1rem;
  }
}
.trip-order .order__button {
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.8s ease;
}
@media screen and (max-width: 1025px) {
  .trip-order .order__button {
    font-size: 0.7rem;
  }
}
.trip-order .order__button::before {
  content: url("../assets/icons/checkbox18.svg");
  position: relative;
  margin: 0;
  padding-right: 0.25rem;
  top: 0.2rem;
}
.trip-order .order__button.checked::before {
  content: url("../assets/icons/checkbox-checked18.svg");
}
.trip-order .order__button:hover {
  font-weight: 800;
}
.trip-order .order__button.checked {
  font-weight: 800;
}
.trip-order .order .form {
  padding-top: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}
.trip-order .order .form_euro-passengers {
  padding-top: 0.55rem;
}
.trip-order .order .form_cargo {
  gap: 0.3rem;
}
.trip-order .order .form__dest {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 700;
}
.trip-order .order .form__dest .departure {
  position: relative;
}
.trip-order .order .form__dest .departure::before {
  content: "Пункт отправления";
  position: absolute;
  top: -0.75rem;
  font-size: 0.55rem;
}
.trip-order .order .form__dest .arrival {
  position: relative;
}
.trip-order .order .form__dest .arrival::before {
  content: "Пункт прибытия";
  position: absolute;
  top: -0.75rem;
  font-size: 0.55rem;
}
.trip-order .order .form__dest .reverse-btn {
  cursor: pointer;
  transition: all 0.8s ease;
}
.trip-order .order .form__dest .reverse-btn:hover {
  transform: scale(1.3);
}
.trip-order .order .form .input-line {
  display: flex;
  align-items: center;
}
.trip-order .order .form label {
  font-size: 0.75rem;
  width: 35%;
}
@media screen and (max-width: 1025px) {
  .trip-order .order .form label {
    font-size: 0.68rem;
  }
}
.trip-order .order .form select {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.4rem;
  color: #1d4152;
}
@media screen and (max-width: 1025px) {
  .trip-order .order .form select {
    font-size: 0.68rem;
  }
}
.trip-order .order .form input {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.6rem;
  color: #1d4152;
}
@media screen and (max-width: 1025px) {
  .trip-order .order .form input {
    font-size: 0.68rem;
  }
}
.trip-order .order .form textarea {
  font-size: 0.75rem;
  width: 65%;
  border-radius: 0.1rem;
  border: 1px solid #F7F9FB;
  padding: 0.4rem 0.6rem;
  color: #1d4152;
  resize: none;
}
@media screen and (max-width: 1025px) {
  .trip-order .order .form textarea {
    font-size: 0.68rem;
  }
}
.trip-order .order .form *::placeholder {
  color: #1d4152;
}
.trip-order .order .form .submit-btn {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.2rem;
  color: #1d4152;
  background-color: #b5d9f1;
  border: none;
  padding: 0.4rem 0.6rem;
  transition: all 0.8s ease;
}
@media screen and (max-width: 1025px) {
  .trip-order .order .form .submit-btn {
    font-size: 0.95rem;
  }
}
.trip-order .order .form .submit-btn:hover, .trip-order .order .form .submit-btn:active {
  background-color: #8FC1E3;
  transform: scale(0.98);
}
.trip-order .order .form .date {
  box-shadow: none;
}
.trip-order .order .form .confidentiality,
.trip-order .order .form .required-fields {
  font-size: 0.5rem;
  text-align: center;
}
.trip-order__img {
  width: 80%;
  height: auto;
}

.footer {
  background-color: #DFEFF9;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #1d4152;
  padding-bottom: 1.5rem;
  padding-top: 0.5rem;
}
.footer__up-wrapper {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-bottom: 0;
  padding-left: 0;
}
.footer__up-link {
  color: #1d4152;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.8s ease;
}
@media screen and (max-width: 1025px) {
  .footer__up-logo img {
    width: 10rem;
    height: auto;
  }
}
.footer__down {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  font-size: 0.9rem;
}
.footer__down-text {
  margin-left: -25rem;
}
.footer__down-contact {
  display: flex;
  gap: 0.8rem;
  color: #1d4152;
}
.footer__down-email, .footer__down-tel {
  color: #1d4152;
}

.social {
  display: flex;
  gap: 0.5rem;
}
@media screen and (max-width: 1400px) {
  .social__icon {
    width: 1.6rem;
    height: auto;
  }
}