.about {
    display: grid;
    grid-template-columns: 1fr 60%;
}

.about__description {
    display: grid;
    grid-column: 1;
    width: 100%;

    p {
        padding-top: 25px;
        font-size: 1rem;
        line-height: 1.8;
    }
}

.about__button {
    display: grid;
    grid-column: 1;
    margin-top: 30px;
    width: 120px;
    height: 45px;

    button {
        width: 100%;
        min-height: 50%;
        background-color: $turquoise;
        border: none;
        padding: 5px 5px;
        border-radius: 5px;
    }

    a {
        font-size: 1rem;
        color: $light-gray;
    }
}

.about__image {
    display: grid;
    grid-column: 2;
    width: 100%;
    margin-top: -200px;
    margin-left: 100px;
    
    

    img {
        display: flex;
        width: 100%;
        height: auto;
    }
}


// media requests
@media screen and (max-width: 768px){
    
    .about {
        display: flex;
        flex-wrap: wrap;
        width: 350px;
    }

    .about__image {
        display: none;
    }
}