.footer {
  background-color: $light-blue-footer;

  &__up {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas: 'logo nav social';

    border-bottom: 1px solid $dark-blue;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;

    .logo {
      grid-area: logo;
    }

    &-nav{
      grid-area: nav;
    }

    &-wrapper {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 0;
      padding-left: 0;
    }

    &-social {
      grid-area: social;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &-link {
      color: $dark-blue;
      font-size: 1.2rem;
      font-weight: 700;
      white-space: nowrap;
      transition: $transition;
    }
  }

  &__down {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    font-size: 1rem;

    &-text {
      display: flex;
      gap: 1rem;

      & p {
        margin: 0;
      }
    }

    &-confid {
      color: $dark-blue;
    }

    &-contact {
      font-weight: 700;
      display: flex;
      gap: 1rem;
    }

    &-tel {
      color: $dark-blue;
    }
  }
}

@media screen and (max-width: $middle-desktop) {
  .footer__up {
    &-link {
      font-size: 1.1rem;
    }
  }
  .social {
    &__icon {
      width: 1.6rem;
      height: auto;
    }
  }
}

@media screen and (max-width: $mini-desktop) {
  .footer__up {
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
                      'logo nav'
                      'logo social';
    &-wrapper {
      justify-content: flex-end;
      gap: 2.5%;
    }

    &-social {
      justify-content: flex-end;
    }
  }

  .footer__down {
    &-contact {
      flex-direction: column;
      gap: 0.4rem;
    }
  }
}

@media screen and (max-width: $tablet) {
  .footer__up {
    padding-bottom: 1rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr min-content;
    grid-template-areas:
                      'logo nav'
                      '. social';
    .logo {
      align-self: start;
    }
    &-wrapper {
      flex-direction: column;
      align-items: flex-end;
    }
    &-social {
      padding-top: 0.7rem;
    }
  }

  .footer__down-text {
    flex-direction: column;
    gap: 0.4rem;
  }
}

@media screen and (max-width: $large-mobile) {
  .logo img {
    width: 10rem;
    height: auto;
  }
}

@media screen and (max-width: $medium-mobile) {
  .footer__up {
    padding-bottom: 0.7rem;
    justify-items: start;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
                      'logo .'
                      'nav social';
    .logo {
      padding-bottom: 0.7rem;
    }

    &-wrapper {
      align-items: flex-start;
    }

    &-social {
      justify-self: end;
      align-items: flex-end;
      gap: 0.3rem;
    }
  }
}

@media screen and (max-width: $mobile) {
  .footer__down  {
    flex-direction: column;
    gap: 0.4rem;
  }
}
