.top {
  position: relative;


  .header {
    display: grid;
    grid-template-columns: 1fr 7fr 3fr;
    align-items: center;

    & a {
      color: $light-gray;
    }

    &__nav-container {
      list-style: none;
      display: flex;
      gap: 1rem;
      align-items: center;
      margin: 0;
      font-size: 0.85rem;
      font-weight: 700;
    }

    &__contacts {
      display: flex;
      justify-content: space-between;

      &-tels {
        font-size: 0.75rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
      }
    }
  }

  &-order {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 3rem;

    &__title {
      font-size: 2.2rem;
      font-weight: 900;
      max-width: 50%;
      color: $light-gray;
    }

    .order {
      width: 480px;
      height: 500px;
      background-color: $light-gray;
    }
  }

  .carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__carousel-item {
    width: 100%;
    height: 710px;
    background-color: $grey;

    .top__overlay-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-position: top;
      background-size: cover;
      opacity: 0.8;
    }
  }
}
