.top {
  position: relative;

  .header {
    display: grid;
    align-items: center;
    grid-template-columns: min-content 7fr 3fr;
    grid-template-areas: 'logo nav contacts';
    position: relative;

    @media screen and (max-width: $middle-desktop) {
      padding-top: 1.4rem;
      padding-bottom: 0.4rem;
      grid-template-columns: min-content 8fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
              'logo nav'
              'logo contacts';
    }

    @media screen and (max-width: $mini-tablet) {
      grid-template-columns: min-content 8fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'logo contacts burger';
    }

    .logo {
      grid-area: logo;

      & img {
        @media screen and (max-width: $tablet) {
          width: 10rem;
          height: auto;
        }

        @media screen and (max-width: $mobile) {
          width: 6.5rem;
          height: auto;
        }
      }
    }

    & a {
      color: $light-grey;
    }

    &__nav {
      grid-area: nav;

      &-container {
        list-style: none;
        display: flex;
        gap: 1.2rem;
        align-items: center;
        margin: 0;
        font-size: 1rem;
        font-weight: 700;

        @media screen and (max-width: $middle-desktop) {
          justify-content: flex-end;
          padding-bottom: 0.2rem;
        }
        @media screen and (max-width: $tablet) {
          gap: 0.8rem;
          font-size: 0.8rem;
          padding-bottom: 0rem;
        }
      }

      &-item {
        white-space: nowrap;
      }

      &-item-burger {
        display: none;

        @media screen and (max-width: $mini-tablet) {
          display: block;
        }
      }

      //nav container for burger
      @media screen and (max-width: $mini-tablet) {
        display: none;
        width: fit-content;
        height: fit-content;
        background-color: $blue;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 4;
        padding: 2.5rem;
        border-radius: 0.2rem;
        box-shadow: 0 0 0.2rem 0.05rem $dark-blue;

        &.active {
          display: block;
        }

        &-container {
          list-style: none;
          padding: 1rem 0 0 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: 1.3rem;
          align-items: flex-start;
        }

        &-item {
          color: $light-grey;
          font-weight: 800;
        }
      }

    }

    &__contacts {
      grid-area: contacts;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: $middle-desktop) {
        justify-content: flex-end;
        padding-top: 0.2rem;
        gap: 5rem;
      }

      @media screen and (max-width: $tablet) {
        padding-top: 0;
        gap: 1.5rem;
      }

      @media screen and (max-width: $mobile) {
        gap: 0.5rem;
      }

      &-item {
        @media screen and (max-width: $middle-desktop) {
          width: 1.6rem;
          height: auto;
        }

        @media screen and (max-width: $mobile) {
          width: 1.2rem;
          height: auto;
        }

        @media screen and (max-width: $small-mobile) {
          display: none;
        }
      }

      &-tels {
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        justify-content: center;
        max-height: min-content;

        @media screen and (max-width: $middle-desktop) {
          flex-direction: row;
          gap: 0.8rem;
          align-items: center;
        }

        @media screen and (max-width: $mini-tablet) {
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
          font-size: 0.6rem;
        }

        @media screen and (max-width: $mobile) {
          font-size: 0.45rem;
          padding-right: 0.3rem;
          padding-top: 0.2rem;
        }
      }
    }
  }

  //order
  &-order {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 1rem;
    padding-bottom: 2.5rem;


    @media screen and (max-width: $mini-tablet) {
      padding-top: 3rem;
      padding-bottom: 1rem;
      flex-direction: column;
      align-items: center;
      gap: 6rem;
    }

    @media screen and (max-width: $mobile) {
      padding-top: 3.2rem;
    }

    &__title {
      font-size: 2.2rem;
      font-weight: 900;
      max-width: 45%;
      padding-right: 1rem;
      color: $light-grey;

      @media screen and (max-width: $tablet) {
        font-size: 1.8rem;
        max-width: 40%;
      }

      @media screen and (max-width: $mini-tablet) {
        max-width: 80%;
        height: 4.7rem;
        padding-right: 0;
        text-align: center;
        font-size: 1.4rem;
      }

      @media screen and (max-width: $large-mobile) {
        font-size: 1.3rem;
      }

      @media screen and (max-width: $medium-mobile) {
        font-size: 1.1rem;
      }
    }

    .order {
      @include order;
    }
  }

  //carousel
  .carousel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
  }

  &__carousel-item {
    width: 100%;
    height: 710px;
    background-color: $grey;

    @media screen and (max-width: $tablet) {
      height: 680px;
    }
    @media screen and (max-width: $mini-tablet) {
      height: 300px;
    }

    .top__overlay-image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background-position: center;
      background-size: cover;
      opacity: 0.8;

      &-1 {
        background-image: url('../assets/image/munich-main.jpg');
      }

      &-2 {
        background-image: url('../assets/image/sprinter-1main.jpg');
      }

      &-3 {
        background-image: url('../assets/image/Stuttgart.jpg');
      }
    }
  }


  //burger
  .burger-open-btn {
    grid-area: burger;
    display: none;
    cursor: pointer;

    @media screen and (max-width: $mini-tablet) {
      display: block;
      justify-self: end;
      align-self: center;

      &-img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .burger-close-btn {
    display: none;
    cursor: pointer;

    @media screen and (max-width: $mini-tablet) {
      display: block;
      position: absolute;
      width: 1rem;
      height: 1rem;
      cursor: pointer;
      top: 1rem;
      right: 1rem;

      & img {
        width: 1rem;
        height: 1rem;
      }
    }
  }


}

.burger__fade {
  width: 100%;
  height: 100%;
  background-color: $turquoise;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.5;
  display: none;
  &.active {
    display: block;
  }
}

.body-lock {
  overflow: hidden;
}